mule-cicd-practice/src/main/mule/mule-cicd-practice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="30dad21c-c620-414d-aa14-d93847781f5a" >
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <flow name="mule-cicd-practiceFlow" doc:id="6b8897ae-dc95-422a-9407-941de13d6477" >
        <http:listener doc:name="Listener" doc:id="7774e71a-a2ac-4d7c-8681-b24eb5bea313" config-ref="HTTP_Listener_config" path="/democicd"/>
        <ee:transform doc:name="Transform Message" doc:id="e58ef629-7a2d-4a62-887d-029da35e37bb" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"name": "roneey"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="496a048c-650b-42a1-9921-b2f093634159" message="#[payload]"/>
    </flow>
</mule>
